@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Roboto", sans-serif;
}

* {
  box-sizing: border-box;

  font-size: 1rem;
}

button {
  @apply bg-transparent;
}

*,
*:focus,
*:hover {
  outline: none;
}
